:root{
    --blue: #4dc9ff;
}
.titreWhite{
    text-transform: uppercase;
}
.spanWhite{
    text-decoration: underline;
}

.headerBlueasy{
    background-image: url(images/HERO.jpg);
    height: 100vh;
}
.topbar{
    background: rgba(0,0,0,.5);
    height: 10vh;
}

.blueasyButton{
    font-size: 2rem !important;
    text-transform: uppercase;
}
.spanTitle{
    color: var(--blue);
}
.buttonTopbar{
    text-transform: uppercase;
    font-size: 1.3rem !important;
}
.buttonHome{
    border: var(--blue) 4px solid !important;
    border-radius: 0 !important;
}

.boxh1{
    height: 90vh;
    width: fit-content;
}
.h1Blueasy{
    text-transform: uppercase;
    display: inline-block ;
    width: auto !important;
    background: rgba(0,0,0,.5);
    letter-spacing: 0.1rem;
}



.services{
    background-image: url("images/fondservices.png");
}
.titreServices{
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 80px;
}
.h3CartesServices{
    text-transform: uppercase;
}
.texteServices{
    font-size: 1.2rem;
    padding-bottom: 60px;
}









.boiteImage{
    height: 25vh;
}
.image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image1{
    background-image: url("images/portfolio/1.png");

}.image2{
     background-image: url("images/portfolio/2.png");
 }


.image3{
    background-image: url("images/portfolio/3.png");
}

.image4{
    background-image: url("images/portfolio/4.png");
}

.image5{
    background-image: url("images/portfolio/5.png");
}

.image6{
    background-image: url("images/portfolio/6.png");
}

.image7{
    background-image: url("images/portfolio/7.png");
}

.image8{
    background-image: url("images/portfolio/8.png");
}




.video{
    background-color: #4f6571;
}
.titreVideo{
    text-transform: uppercase;
    padding-top: 70px;
}
.boutonVideo{
    text-transform: uppercase;
    border: 3px black solid !important;
    border-radius: 0px !important;
    padding: 10px 50px !important;
    margin-bottom: 100px !important;
}
.videoIframe{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}



.twitter{
    background-image: url("images/fondservices.png");
}
.texteTwitter{
    padding-bottom: 80px;
}




.john{
    background-color: #8EB4D7;
}
.titreJohn{
    text-transform: uppercase;
    padding-top: 70px;
    padding-bottom: 70px;
}
.texteJohn{
    font-size: 1.2rem;
}


.divTitreTestimonial{
    padding-top: 50px;
    padding-bottom: 70px;
}
.titreTestimonial{
    text-transform: uppercase;
}
.texteTestimonial{
    font-size: 1.3rem;
}
.walterWhite{
    color: var(--blue);
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 70px;
}


.contact{
    background-color: #8EB4D7;
}
.titreContact{
    text-transform: uppercase;
    padding-bottom: 40px;
    padding-top: 70px;
}

label{
    text-transform: uppercase;
    color: white;
    font-size: 1.3rem;
    padding-top: 20px;

}
.bgRemove{
    background: transparent !important;
}

.boutonContact{
    background-color: var(--blue) !important;
    color: white !important;
    text-transform: uppercase;
    padding: 15px 120px !important;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.4rem !important;
}


.footerBlueasy{
    background-color: #8EB4D7;
}
.footbar{
    background: rgba(0,0,0,.5);
    height: 20vh;
}
.boutonFootbar{
    text-transform: uppercase;
    font-size: 1.4rem!important;
    color: darkgrey !important;
    font-weight: bold!important;
}
.hrFootbar{
    height: 40px !important;
    width: 4px !important;
    opacity: 1!important;
    background-color: darkgray!important;
    margin-left: 10px !important;
    margin-right: 10px!important;
}
.copyrgihtFootbar{
    text-transform: uppercase;
    font-size: 1.4rem!important;
    color: darkgrey !important;
    font-weight: bold!important;
    margin: 0!important;
}